<ion-header>
  <ion-navbar color="navbarcolor">
    <ion-buttons class="text-center">
      <button ion-button color="light" icon-only (click)="goToHomePage()">
        <ion-icon name="alarm" isActive="false"></ion-icon>
      </button>
      <button ion-button color="light" icon-only (click)="goToGraphsPage()">
        <ion-icon name="albums" isActive="false"></ion-icon>
      </button>
      <button ion-button color="light" icon-only (click)="goToTeammembersPage()">
        <ion-icon name="people" isActive="false"></ion-icon>
      </button>
      <button ion-button color="light" icon-only (click)="goToLeaderboardsPage()">
        <ion-icon name="funnel" isActive="false"></ion-icon>
      </button>
      <button ion-button color="light" icon-only>
        <ion-icon name="person" isActive="true"></ion-icon>
      </button>
      <button ion-button color="light" icon-only (click)="goToOptionsPage()">
        <ion-icon name="settings" isActive="false"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col width-100>
        <ion-item no-lines>
          <img itemscope class="image" src="../../assets/tests/profielfoto.jpg">
        </ion-item>
        <div text-center *ngIf="user">
          <h2>{{user.name}}</h2>
        </div>
        <button ion-button block large color="navbarcolor" margin-top (click)="goToAccountDetailPage()">DATA</button>
        <button ion-button block large color="danger" margin-top (click)="logout()">LOGOUT</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>