page-account {

  .back-button.show-back-button {
    display: none;
  }

  .bar-button-md {
    margin-left: 0.8rem !important;
    margin-right: 0.8rem !important;
  }

  .bar-button-ios {
    padding: 0 5px !important;
  }

  .image {
    padding-top: 50px;
    width: 70%;
    height: auto;
  }

}
