<ion-header>
  <ion-navbar color="navbarcolor" align-title="center">
    <ion-title class="title">PERSONAL DATA</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-list no-lines>
    <div *ngIf="user">
    <ion-item>
      <img itemscope class="image" src="../../assets/tests/profielfoto.jpg">
    </ion-item>
    <ion-item>
      <p ion-text color="light" item-left padding-top>Name:</p>
      <p ion-text color="light" item-right>{{user.name}}</p>
    </ion-item>
    <ion-item>
      <p ion-text color="light" item-left padding-top>Email:</p>
      <p ion-text color="light" item-right>{{user.data.email}}</p>
    </ion-item>
    <ion-item>
      <p ion-text color="light" item-left padding-top>Function:</p>
      <p ion-text color="light" item-right>{{user.data.work}}</p>
    </ion-item>
    </div>
  </ion-list>
</ion-content>
