<!--
  Generated template for the Sound page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="navbarcolor">
    <ion-title>Sound</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

</ion-content>
