<ion-header>

  <ion-navbar color="navbarcolor">
    <ion-title>Feedback</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <form #feedbackForm="ngForm">

    <ion-list>

      <ion-item>
        <ion-label>Title</ion-label>
        <ion-input [(ngModel)]="feedback.title" name="title" type="text" #title="ngModel" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Body</ion-label>
        <ion-textarea [(ngModel)]="feedback.body" name="body" #body="ngModel" required></ion-textarea>
      </ion-item>

    </ion-list>

    <div padding [hidden]="submitted">
      <button ion-button block large color="danger" (click)="onSubmit(feedbackForm)">Save</button>
    </div>

  </form>

</ion-content>
