{% set version = {
'bootstrap'  : '4.0.0-alpha.4',
'jQuery'     : '3.1.1',
'fontAwesome': '4.6.3'
} %}<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="dns-prefetch" href="//code.jquery.com">
    <link rel="dns-prefetch" href="//maxcdn.bootstrapcdn.com">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/{{ version.bootstrap }}/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/{{ version.fontAwesome }}/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">
    <title>{% block title %}Pomodoro{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon2.ico') }}">
</head>
<body>
<div class="black-bar">
    <span>
        <h4 class="title">Pomodoro</h4>
    </span>
</div>

<div class="container">
    {% block body %}{% endblock %}
</div>
<script src="//code.jquery.com/jquery-{{ version.jQuery }}.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/{{ version.bootstrap }}/js/bootstrap.min.js"></script>
{% block javascripts %}{% endblock %}
</body>
</html>