<ion-header>
  <ion-navbar color="navbarcolor">
    <ion-buttons class="text-center">
      <button ion-button color="light" icon-only (click)="goToHomePage()">
        <ion-icon name="alarm" isActive="false"></ion-icon>
      </button>
      <button ion-button color="light" icon-only (click)="goToGraphsPage()">
        <ion-icon name="albums" isActive="false"></ion-icon>
      </button>
      <button ion-button color="light" icon-only (click)="goToTeammembersPage()">
        <ion-icon name="people" isActive="false"></ion-icon>
      </button>
      <button ion-button color="light" icon-only>
        <ion-icon name="funnel" isActive="true"></ion-icon>
      </button>
      <button ion-button color="light" icon-only (click)="goToAccountPage()">
        <ion-icon name="person" isActive="false"></ion-icon>
      </button>
      <button ion-button color="light" icon-only (click)="goToOptionsPage()">
        <ion-icon name="settings" isActive="false"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list inset>
    <ion-item *ngFor="let team of leaderboards; let i = index;">
      <span ion-text item-left><p color="light" ion-text>{{i+1}}.</p></span>
      <p ion-text color="light" text-left class="padding-left">{{team}}</p>
    </ion-item>
  </ion-list>
</ion-content>
