.black-bar {
    width: 100%;
    height: 50px;
    background-color: black;
}

.title {
    color: white;
    padding-top: 10px;
    padding-left: 20px;
}

.margin {
    margin-top: 20px;
}

.margin-left {
    margin-left: 20px;
    margin-top: 20px;
}

.marginbottom {
    margin-bottom: 40px;
}