<ion-header>

  <ion-navbar color="navbarcolor" align-title="center">
    <ion-title class="title">SHARE</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list inset>
    <ion-item>
      <ion-thumbnail item-left>
        <img src="../../assets/tests/profielfoto.jpg">
      </ion-thumbnail>
      <p ion-text color="light">Name</p>
    </ion-item>
    <ion-item>
      <ion-thumbnail item-left>
        <img src="../../assets/tests/profielfoto.jpg">
      </ion-thumbnail>
      <p ion-text color="light">Name</p>
    </ion-item>
    <ion-item>
      <ion-thumbnail item-left>
        <img src="../../assets/tests/profielfoto.jpg">
      </ion-thumbnail>
      <p ion-text color="light">Name</p>
    </ion-item>
    <ion-item>
      <ion-thumbnail item-left>
        <img src="../../assets/tests/profielfoto.jpg">
      </ion-thumbnail>
      <p ion-text color="light">Name</p>
    </ion-item>
  </ion-list>
</ion-content>
