<ion-header>
  <ion-navbar color="navbarcolor">
      <ion-buttons class="text-center">
          <button ion-button color="light" icon-only>
              <ion-icon name="alarm" isActive="true"></ion-icon>
          </button>
          <button ion-button color="light" icon-only (click)="goToGraphsPage()">
              <ion-icon name="albums" isActive="false"></ion-icon>
          </button>
          <button ion-button color="light" icon-only (click)="goToTeammembersPage()">
              <ion-icon name="people" isActive="false"></ion-icon>
          </button>
          <button ion-button color="light" icon-only (click)="goToLeaderboardsPage()">
              <ion-icon name="funnel" isActive="false"></ion-icon>
          </button>
          <button ion-button color="light" icon-only (click)="goToAccountPage()">
              <ion-icon name="person" isActive="false"></ion-icon>
          </button>
          <button ion-button color="light" icon-only (click)="goToOptionsPage()">
              <ion-icon name="settings" isActive="false"></ion-icon>
          </button>
      </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content background-color="dark" padding>

    <ion-list no-lines  *ngFor="let task of tasks">
        <h1 class="text-center padding">{{task.name}}</h1>
        <p class="text-center padding">{{task.description}}</p>
    </ion-list>

    <ion-list no-lines *ngFor="let pomodoro of pomodoros">
        <timer #timer timeInSeconds="{{pomodoro.time}}"></timer>
    </ion-list>

</ion-content>
