<ion-header>

    <ion-navbar color="navbarcolor">
        <ion-title class="text-center">OPTIONS</ion-title>
    </ion-navbar>

</ion-header>


<ion-content>
    <form #pomodoroForm="ngForm">
        <ion-list inset>

            <ion-item>
                <ion-label fixed>Name</ion-label>
                <ion-input type="text" [(ngModel)]="task.name" name="name" #name="ngModel"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label fixed>Description</ion-label>
                <ion-input type="text" [(ngModel)]="task.description" name="description" #description="ngModel"></ion-input>
            </ion-item>

            <!--<ion-item>
                <ion-label>Time</ion-label>
                <ion-range class="margin-top" min="10" max="30" pin="true" [(ngModel)]="time" color="danger">
                    <ion-label range-left>10</ion-label>
                    <ion-label range-right>30</ion-label>
                </ion-range>
            </ion-item>

            <ion-item>
                <ion-label>Long break</ion-label>
                <ion-range class="margin-top" min="10" max="20" pin="true" [(ngModel)]="longbreak" color="danger">
                    <ion-label range-left>10</ion-label>
                    <ion-label range-right>20</ion-label>
                </ion-range>
            </ion-item>

            <ion-item>
                <ion-label>Short break</ion-label>
                <ion-range class="margin-top" min="1" max="10" pin="true" [(ngModel)]="shortbreak" color="danger">
                    <ion-label range-left>1</ion-label>
                    <ion-label range-right>10</ion-label>
                </ion-range>
            </ion-item>-->

            <ion-item>
                <div [hidden]="submitted">
                    <button ion-button block large color="danger" (click)="onSubmit(pomodoroForm)">Save</button>
                </div>
            </ion-item>

        </ion-list>
    </form>
</ion-content>
