<ion-list *ngIf="timer">
    <ion-item class="no-bottom-border item">
        <button ion-button *ngIf="timeInSeconds && timeInSeconds > 0" large full clear color="light" class="timer-button timer-text">{{timer.displayTime}}</button>
    </ion-item>
    <ion-item class="no-bottom-border" *ngIf="timeInSeconds && timeInSeconds > 0">
        <button ion-button large color="light" clear item-left (click)="goToSharePage()">
            <ion-icon name="add" isActive="true"></ion-icon>
        </button>

        <button ion-button round large color="danger" (click)="pauseTimer()" item-scope *ngIf="timer.runTimer && timer.hasStarted && !timer.hasFinished">
            <ion-icon name="pause"></ion-icon>
        </button>
        <button ion-button round large color="danger" (click)="resumeTimer()" item-scope *ngIf="!timer.runTimer && timer.hasStarted && !timer.hasFinished">
            <ion-icon name="play"></ion-icon>
        </button>
        <button ion-button round large color="danger" (click)="startTimer()" item-scope *ngIf="!timer.hasStarted">
            <ion-icon name="play"></ion-icon>
        </button>

        <button ion-button large color="light" clear item-right (click)="PomodoroOptionsModal()">
            <ion-icon name="settings" isActive="true"></ion-icon>
        </button>
    </ion-item>

    <ion-item>
        <button ion-button icon-left clear color="danger" small (click)="initTimer()" item-scope *ngIf="!timer.runTimer && (timer.hasStarted || timer.hasFinished) || timer.hasFinished">
            <ion-icon name="refresh"></ion-icon>
            Reset
        </button>
    </ion-item>
</ion-list>

<style>
    .timer-button {
        font-size: 5rem !important;
        height: 1em !important;
    }
    .no-bottom-border.item .item-inner {
        border-bottom: none !important;
    }
</style>