<ion-header>
    <ion-navbar color="navbarcolor" align-title="center">
        <ion-title class="title">Test</ion-title>
        <ion-buttons start>
            <button ion-button (click)="dismiss()">
                <span ion-text color="light" showWhen="ios"><ion-icon name="arrow-back"></ion-icon > Back</span>
                <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>


<ion-content padding>

</ion-content>