<ion-header>
  <ion-navbar color="navbarcolor">
    <ion-buttons class="text-center">
      <button ion-button color="light" icon-only (click)="goToHomePage()">
        <ion-icon name="alarm" isActive="false"></ion-icon>
      </button>
      <button ion-button color="light" icon-only (click)="goToGraphsPage()">
        <ion-icon name="albums" isActive="false"></ion-icon>
      </button>
      <button ion-button color="light" icon-only>
        <ion-icon name="people" isActive="true"></ion-icon>
      </button>
      <button ion-button color="light" icon-only (click)="goToLeaderboardsPage()">
        <ion-icon name="funnel" isActive="false"></ion-icon>
      </button>
      <button ion-button color="light" icon-only (click)="goToAccountPage()">
        <ion-icon name="person" isActive="false"></ion-icon>
      </button>
      <button ion-button color="light" icon-only (click)="goToOptionsPage()">
        <ion-icon name="settings" isActive="false"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-list inset>
    <a ion-item (click)="DetailModal()">
      <ion-thumbnail item-left>
        <img src="../../assets/tests/profielfoto.jpg">
      </ion-thumbnail>
      <p ion-text color="light">Name</p>
    </a>
    <a ion-item (click)="DetailModal()">
      <ion-thumbnail item-left>
        <img src="../../assets/tests/profielfoto.jpg">
      </ion-thumbnail>
      <p ion-text color="light">Name</p>
    </a>
    <a ion-item (click)="DetailModal()">
      <ion-thumbnail item-left>
        <img src="../../assets/tests/profielfoto.jpg">
      </ion-thumbnail>
      <p ion-text color="light">Name</p>
    </a>
    <a ion-item (click)="DetailModal()">
      <ion-thumbnail item-left>
        <img src="../../assets/tests/profielfoto.jpg">
      </ion-thumbnail>
      <p ion-text color="light">Name</p>
    </a>
  </ion-list>
</ion-content>
