<ion-header>
  <ion-navbar color="navbarcolor">
    <ion-buttons class="text-center">
      <button ion-button color="light" icon-only (click)="goToHomePage()">
        <ion-icon name="alarm" isActive="false"></ion-icon>
      </button>
      <button ion-button color="light" icon-only>
        <ion-icon name="albums" isActive="true"></ion-icon>
      </button>
      <button ion-button color="light" icon-only (click)="goToTeammembersPage()">
        <ion-icon name="people" isActive="false"></ion-icon>
      </button>
      <button ion-button color="light" icon-only (click)="goToLeaderboardsPage()">
        <ion-icon name="funnel" isActive="false"></ion-icon>
      </button>
      <button ion-button color="light" icon-only (click)="goToAccountPage()">
        <ion-icon name="person" isActive="false"></ion-icon>
      </button>
      <button ion-button color="light" icon-only (click)="goToOptionsPage()">
        <ion-icon name="settings" isActive="false"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content>
  <div class="blackborder">
    <ion-grid>
      <ion-row>
        <ion-col width-50>
          <p ion-text class="text-center">TOTAL POMODOROS</p>
          <p ion-text class="text-center" color="danger">3</p>
        </ion-col>
        <ion-col width-50>
          <p ion-text class="text-center">DAILY AVERAGE</p>
          <p ion-text class="text-center" color="danger">1</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
