<ion-header>
  <ion-navbar color="navbarcolor">
    <ion-buttons class="text-center">
      <button ion-button color="light" icon-only (click)="goToHomePage()">
        <ion-icon name="alarm" isActive="false"></ion-icon>
      </button>
      <button ion-button color="light" icon-only (click)="goToGraphsPage()">
        <ion-icon name="albums" isActive="false"></ion-icon>
      </button>
      <button ion-button color="light" icon-only (click)="goToTeammembersPage()">
        <ion-icon name="people" isActive="false"></ion-icon>
      </button>
      <button ion-button color="light" icon-only (click)="goToLeaderboardsPage()">
        <ion-icon name="funnel" isActive="false"></ion-icon>
      </button>
      <button ion-button color="light" icon-only (click)="goToAccountPage()">
        <ion-icon name="person" isActive="false"></ion-icon>
      </button>
      <button ion-button color="light" icon-only>
        <ion-icon name="settings" isActive="true"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-list inset>
    <a ion-item (click)="goToSoundPage()">
      <p ion-text text-left color="light">SOUND</p>
    </a>
    <a ion-item (click)="goToRatePage()">
      <p ion-text text-left color="light">RATE</p>
    </a>
    <a ion-item (click)="goToFeedbackPage()">
      <p ion-text text-left color="light">FEEDBACK</p>
    </a>
  </ion-list>
</ion-content>