<ion-content padding>
    <ion-list no-lines>
        <ion-item>
            <img itemscope class="imagesmall" src="../../assets/logo/logo_pomodoro.png">
        </ion-item>
    </ion-list>
    <ion-list>
        <form #loginForm="ngForm">
            <ion-item>
                <ion-label>Username</ion-label>
                <ion-input [(ngModel)]="login._username" name="username" type="text" #title="ngModel" required></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>Password</ion-label>
                <ion-input [(ngModel)]="login._password" name="password" type="password" #title="ngModel" required></ion-input>
            </ion-item>
            <ion-list no-lines>
                <ion-item>
                    <button ion-button large color="navbarcolor" type="submit" (click)="onLogin(loginForm)">LOGIN</button>
                </ion-item>
            </ion-list>
        </form>
    </ion-list>
</ion-content>