<ion-content padding>
  <ion-list no-lines>
    <ion-item>
      <img itemscope class="image" src="../../assets/logo/logo_pomodoro.png">
    </ion-item>
    <ion-item>
      <button ion-button large color="navbarcolor" (click)="LoginModal()">LOGIN</button>
    </ion-item>
  </ion-list>
</ion-content>
