{% trans_default_domain 'FOSUserBundle' %}

<h1>Login</h1>
{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<form action="{{ path("fos_user_security_check") }}" method="post">
    <div class="form-group">
        {% if csrf_token %}
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
        {% endif %}

        <label for="username">{{ 'username'|trans }}</label>
        <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" required="required" />

        <label for="password">{{ 'password'|trans }}</label>
        <input class="form-control" type="password" id="password" name="_password" required="required" />

        <div class="form-check margin-left">
            <label for="remember_me">
                <input class="form-check-input" type="checkbox" id="remember_me" name="_remember_me" value="on" />
                {{ 'remember me?'|trans }}
            </label>
        </div>

        <input class="btn btn-primary" type="submit" id="_submit" name="_submit" value="{{ 'Login'|trans }}" />
        <a class="btn btn-info" href="http://www.pomodoro.local/register/">Registration</a>
    </div>
</form>
